{% extends "base.html" %} {% block title %}Quizzle{% endblock %} {% block
content %}

<h1 class="title">{{user.username}} Statistics</h1>

<div class="stats-container">
  <div class="overall-container">
    <h2>Overall stats</h2>
  </div>

  <div class="subject-container">
    <div>
      <h3>Human Biology</h3>
      <span>{{ hb_correct }}</span>
    </div>
    <div>
      <h3>Computer Science</h3>
    </div>
  </div>
  <div class="subject-container">
    <div>
      <h3>Psychology</h3>
    </div>
    <div>
      <h3>Economics</h3>
    </div>
  </div>
</div>

{% endblock %}
